// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

.footer-fixed {
    .btn-outline-secondary {
        border-color: #6c757d;
        color: #6c757d;

        &:hover {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
            text-decoration: none;
        }
    }
}

.btn-danger {
    &:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
}